* {
    margin: 0;
    padding: 0;
}

.calculator_body {
    width: 800px;
    height: 280px;
    margin: 0 auto;
    background-color: #373b4a;
}

.calculator_body .calculator_bottom {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.calculator_body .calculator_bottom ul {
    list-style: none;
}

.calculator_body .calculator_bottom ul li {
    float: left;
    width: 70px;
    height: 70px;
}

.calculator_body .calculator_bottom > ul > li > input[type=button] {
    width: 70px;
    height: 70px;
    color: white;
    font-size: 22px;
    background-color: #373b4a;
}

.calculator_body .calculator_bottom > ul > li:nth-child(4) > input[type=button], .calculator_body .calculator_bottom > ul > li:nth-child(8) > input[type=button], .calculator_body .calculator_bottom > ul > li:nth-child(12) > input[type=button], .calculator_body .calculator_bottom > ul > li:nth-child(15) > input[type=button], .calculator_body .calculator_bottom > ul > li:nth-child(16) > input[type=button] {
    background-color: #a53d46;
}